<div class="message">
  <% if user_signed_in? %>
    <% if message.is_user %>
      <div class="upper-comment">
          <div class="comment-user">
          <%= current_user.name %>
          </div>
          <div class="create-time">
            <%= l message.created_at %>
          </div>
      </div>
      <div class="comment">
        <%= message.content %>
      </div>
    <% else %>
      <div class="upper-comment">
        <div class="comment-user">
          <%= message.room.company.name %>
        </div>
        <div class="create-time">
          <%= l message.created_at %>
        </div>
      </div>
      <div class="comment">
        <%= message.content %>
      </div>
    <% end %>
  <% elsif company_signed_in? %>
    <% if message.is_user %>
      <div class="upper-comment">
        <div class="comment-user">
          <%= message.room.user.name %>
        </div>
        <div class="create-time">
          <%= l message.created_at %>
        </div>
      </div>
      <div class="comment">
        <%= message.content %>
      </div>
    <% else %>
      <div class="upper-comment">
        <div class="comment-user">
          <%= current_company.company_name %>
        </div>
        <div class="create-time">
          <%= l message.created_at %>
        </div>
      </div>
      <div class="comment">
        <%= message.content %>
      </div>
    <% end %>
  <% end %>
</div>