<%= render "shared/header" %>

<div class="main-back">
  <%= render "rooms/sidebar" %>
  <div class="main-contact">
    <div class="messages-viewer">

      <%= render partial: 'message', collection: @messages %>

    </div>

    <div class="message-box">
      <%= form_with model: [@room, @message], class: 'chat-box', local: true do |f| %>
        <div class="comment-box">
          <%= f.text_field :content, class: 'commit', placeholder: 'type a message' %>
        </div>
        <%= f.submit 'SEND', class: 'send' %>
      <% end %>
    </div>
  </div>
</div>
