<%= render "shared/header" %>
<div class="main">
  <h1 class="sign-up">サインイン</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-wrap">
      <div class="field">
        <span>メールアドレス</span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <span>パスワード</span>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="register-btn">
        <%= f.submit "サインイン", class:"submit-btn" %>
      </div>
      <div class="change-page-box">
        <%= link_to "新規登録はこちら", new_company_registration_path, class:"change-page" %>
      </div>
    </div>
  <% end %>
</div>
