<div class="left-bar">
  <%#= link_to image_tag("test-image.png", class:"test-image") %>
  <ul class="job-list">
    <li class="ocu-list" ><%= link_to '企画', '/nexts/category/1' %></li>
    <li class="ocu-list" ><%= link_to 'マーケティング', '/nexts/category/2' %></li>
    <li class="ocu-list" ><%= link_to '資格', '/nexts/category/3' %></li>
    <li class="ocu-list" ><%= link_to 'エンジニア', '/nexts/category/4' %></li>
    <li class="ocu-list" ><%= link_to 'デザイナー', '/nexts/category/5' %></li>
    <li class="ocu-list" ><%= link_to 'ライター', '/nexts/category/6' %></li>
    <li class="ocu-list" ><%= link_to 'クリエイター', '/nexts/category/7' %></li>
    <li class="ocu-list" ><%= link_to 'その他', '/nexts/category/8' %></li>
  </ul>
</div>