
  <div class="tweet-show">
    <div class="tweet-content">
      <div class="tweet-content-top">
        <div class="top-title">
          <h1 class="tweet-title-show"><%= @tweet.title %></h1>
        </div>
        <%# 投稿者閲覧の場合、表示 %>
        <% if current_user.id == @tweet.user.id %>
          <div class="edit-icon">
            <%= image_tag 'edit-icon.png', class:"edit-icon-img", id:"edit-icon-img" %>
          </div>
          <ul class="edit-lists hidden" id="pull-down">
            <li><%= link_to '編集する', edit_next_path, class:"edit-list" %></li>
            <li><%= link_to '削除する', next_path, method: :delete, class:"edit-list" %></li>
          </ul>
        <% end %>
      </div>
      <div class="tweet-content-bottom">
        <p class="created-time"><%= l @tweet.created_at %></p>
        <p class="occupation-tag"> <%= @tweet.occupation.name %></p>
      </div>
    </div>
    <div>
        <%= @tweet.boast %>
    </div>
  </div>
