
<%= render "shared/header" %>

  <div class="main">
    <div class="low">
      <div class="left-bar">
        <ul class="job-list">
          <li><%= link_to '営業', "#" %></li>
          <li><%= link_to '企画', "#" %></li>
          <li><%= link_to 'マーケティング', "#" %></li>
          <li><%= link_to '事務', "#" %></li>
          <li><%= link_to 'エンジニア', "#" %></li>
          <li><%= link_to 'デザイナー', "#" %></li>
          <li><%= link_to 'ライター', "#" %></li>
          <li><%= link_to 'クリエイター', "#" %></li>
        </ul>
      </div>
      <div class="main-bar">
        投稿一覧
      </div>
      <div class="right-bar">
      食べたい
      </div>
    </div>
