
<%= render "shared/header" %>

  <div class="main">
    <div class="low">
      <div class="left-bar">
        <%= link_to image_tag("test-image.png", class:"test-image") %>
        <ul class="job-list">
          <li class="ocu-list" ><%= link_to '営業', "#" %></li>
          <li class="ocu-list" ><%= link_to '企画', "#" %></li>
          <li class="ocu-list" ><%= link_to 'マーケティング', "#" %></li>
          <li class="ocu-list" ><%= link_to '事務', "#" %></li>
          <li class="ocu-list" ><%= link_to 'エンジニア', "#" %></li>
          <li class="ocu-list" ><%= link_to 'デザイナー', "#" %></li>
          <li class="ocu-list" ><%= link_to 'ライター', "#" %></li>
          <li class="ocu-list" ><%= link_to 'クリエイター', "#" %></li>
        </ul>
      </div>
      <div class="main-bar">
        <form class="search-form" action="#">
          <input class='search-box' placeholder='キーワードから探す'>
          <button class="search-button">
            <%= image_tag "search.png", class:"search-icon" %>
          </button>
        </form>
        <ul class="lists">
          <% @tweets.each do |tweet| %>
            <li class="tweet-box">
              <%= link_to next_path(tweet.id) do %>
              <div class="tweet-list">
                <div class="user-img">
                  <%= tweet.user.name %>
                </div>
                <div class="tweet-info">
                  <span class="tweet-title">
                    <%= tweet.title %>
                  </span>
                  <div class="tweet-occupation">
                    <%= tweet.occupation.name %>
                  </div>
                  <div class="tweet-boast">
                    <%= tweet.boast %>
                  </div>
                </div>
              </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="right-bar">
        
      </div>
    </div>
