<%= render "shared/header" %>

<%= form_with model: @tweet, url: nexts_path, method: :post, local: true do |f| %>
  
  <div class="tweet-main">
    <div class="tweet">
      <%= f.label :title %>
      <%= f.text_area :title, autofocus: true, class:"input-tweet", id:"title", placeholder:"例)プログラミングでフリマアプリを作りました" %>
    </div>
    <div class="tweet">
      <%= f.label :occupation %>
      <%= f.collection_select(:occupation, Occupation.all, :id, :name, {prompt: "---"}, {class:"input-tweet", id:"ocupation"}) %>
    </div>
    <div class="tweet">
      <%= f.label :boast %>
      <%= f.text_area :boast, class:"input-tweet", id:"boast", placeholder:"あああああああああああああああああああああああああ" %>
    </div>
    <div class="tweet-btn">
      <%= f.submit "投稿する", class:"submit-btn" %>
    </div>
  </div>

<% end %>

<%= render "shared/footer" %>