<%= render "shared/header"%>
  <div class="main">
    <%= render "tweet"%>
  
  <%# 企業ユーザーのとき %>
  
  <%# チャット画面に遷移 %>
    <div class="scaut-btn">
      <% if company_signed_in? %>
        <% if @rooms == [] %>
          <%= form_for Room.new do |c| %>
          <%= c.hidden_field :user_id, :value => @tweet.user.id %>
          <%= c.submit "スカウトする", class: "scaut"%>
          <% end %>
        <% else %>
          <%= link_to "チャットへ", room_messages_path(@rooms.ids) %>
        <% end %>
        
      <% end %>
    </div>
  </div>
<%= render "shared/footer"%>